.App {
  text-align: center;
}

nav {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-img{
  width: 160px;
}

.searchbar-container{
  display: flex;
  padding: 20px;
  margin: 0, 10px;

  .searchResult{
    margin:0 10px;

      button{
        border-radius: 5px;
      }
  }
}

.searchbar input{
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
